:root{
    --iris: #4D5AE5;
    --cornflower: #E7E9FC;
    --navyblue: #2E2F42;
    --slate: #434455;
}

body{
    width: 1440px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2%;
}

header{
    display: flex;
    flex-direction: row;
    height: 72px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--cornflower);
}

h1{
    text-align: center;
    font-size: 56px;
    font-weight: bolder;
    size: 60px;
}

h2{
    font-weight: bolder;
    font-size: 36px;
    letter-spacing: 2%;
}

h3{
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

button{
    font-weight: regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}

 a{
    text-decoration: none;
    color: var(--navyblue);
 }

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    font-size: x-large;
    font-weight: bolder;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.title_info li{
    font-weight: bold;
    color: var(--slate); 
}

.contacts{
    margin-left: 400px;
    color: var(--slate);
}

.title_info li, .contacts li{
    margin-right: 35px;
}

.hero{
    height: 600px;
    background-color: var(--navyblue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.credo{
    width: 494px;
    color: white;
}

.fakebutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: white;
    background-color: #4D5AE5;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about_us{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#About_Us{
    font-size: xx-large;
    color: var(--navyblue); 
}

.skills{
    width: 1128px;
    height: 104px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skills li{
    margin-right: 24px
}

.skills h3{
    font-weight: bold;
    font-size: x-large;
    color: var(--navyblue);
}

.skills p{
    color: var(--slate);
}

.what_are_we_doing{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.what_are_we_doing li{
    width: 360px;
}

.what_are_we_doing h2, .team h2{
    color: var(--navyblue);
    font-size: xx-large;
}

.images{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.images img{
    width: 360;
    height: 300;
    margin-right: 24px;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.team_pics{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.team_pics li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 370px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-right: 30px;
}

.team_pics li h3{
    color: var(--navyblue);
}

.team li p{
    color: var(--slate);
}

footer{
    height: 310px;
    background-color: var(--navyblue);
    display: flex;
    justify-content: center;
    flex-direction: column  ;
}

.name_in_end{
    margin-left: 156px;
    margin-top: 30px;
    color: var(--iris);
}
.end_text{
    width: 264px;
    color: var(--cornflower);
    margin-left: 156px;
}

.name_in_end{
    font-weight: bold;
    font-size: xx-large;
}

.WEB{
    color: var(--iris);
}

#STUDIO2{
    color: white;
}

.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 40px;
}

.filters button{
    margin-left: 24px;
    color: var(--iris);
    height: 48px;
    border: 1px solid var(--cornflower);
    font-weight: bold;
}

.filters button:hover{
    background-color: var(--iris);
    color: white;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: none;
}

#all-btn{
    width: 69px;
}

#website-btn{
    width: 116px;
}

#app-btn{
    width: 78px;
}

#design-btn{
    width:101px;
}

#marketing-btn{
    width: 126px;
}

.products section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.products section li{
    margin-left: 24px;
    border: 1px solid var(--cornflower);
}

.products section h3{
    color: var(--navyblue);
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
}

.products section p{
    color: var(--slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.products section h3, .products section p{
    margin-left: 16px;
}

.second_row{
    margin-left: 67px;
}